# Compiled
/dist

# Dependencies
/node_modules
package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Misc
npm-debug.log

# System
*/*.lnk
*desktop.ini
.DS_Store
Thumbs.db
